@import "tailwindcss";

@theme {
  --color-dark-950: #020617;
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;
}

@layer base {
  body {
    @apply bg-dark-950 text-slate-300 font-sans antialiased;
  }
}

@layer components {
  .glass-panel {
    @apply bg-dark-900/40 backdrop-blur-md border border-white/5 rounded-2xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-slate-300 to-slate-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20;
  }
}
